.TestimonialsCardContainer {
  
margin-top: 45px;
    img {
        height: 135px;
        position: relative;
        /* top: 80px; */
        z-index: 9;
        /* margin: 0 auto; */
       

    }
}
.TestimonialsCard {
    margin-top: -65px;
    background-color: #1A1441;
    border-radius: 20px;
    padding: 42px 55px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 345px;

    h6 {
        font-size: 20px;
        text-transform: uppercase;
        margin: 35px auto 25px;
    }
    p {
        font-size: 16px;
        /* max-width: 235px; */
        text-align: center;
    }
}
