.CtaSection{
    max-width: 1184px;
    margin: 125px auto auto auto;
    padding: 55px 0;
    background: linear-gradient(135deg , #7171DB, #7FCCCD);
    border-radius: 50px;
    text-align: center;
    h4{
        font-size: 20px;
        text-transform: uppercase;
        color: black;
    };

    h2{
        font-size: 57px;
        text-transform: capitalize;
        max-width: 500px;
        margin: 0px auto 30px;
    }
}