.CtaSection{
    max-width: 1184px;
    margin: 125px auto auto auto;
    padding: 55px 0;
    background: linear-gradient(135deg , #7171DB, #7FCCCD);
    border-radius: 50px;
    text-align: center;
    h4{
        font-size: 20px;
        text-transform: uppercase;
        color: black;
    };

    h2{
        font-size: 57px;
        text-transform: capitalize;
        max-width: 500px;
        margin: 0px auto 30px;
    }
}


/* Responsive CSS */

@media (max-width : 1200px) {
    .CtaSection{
        max-width: 1008px;
    }
}
@media (max-width : 1024px) {
    .CtaSection{
        max-width: 752px;
    }
}
@media (max-width : 768px) {
    .CtaSection{
        max-width: 90vw;
        margin-top: 75px;
    }
}
@media (max-width : 480px) {
    .CtaSection{
    padding: 15px 0;
    border-radius: 30px;

    }
    .CtaSection h2{

       font-size: 32px;
    }
}