.analyticsSection {
    max-width: 1200px;
    padding: 8px 16px;
    margin: 125px auto auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}
.analyticsImage img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
/*Responsive CSS */

@media (max-width :1200px) {
    .analyticsSection {
        max-width: 1024px;
    }
}

@media (max-width :1024px) {
    .analyticsSection {
        max-width: 768px;
        gap: 1rem;
    }
    .analyticsImg{
        width: 40% ;
    }
    .analyticsImg img{
        width: 100%;
    }
}

@media (max-width : 768px) {
    .analyticsSection{
        margin-top: 75px;
        max-width: 100vw;
    }
}

@media (max-width : 599px) {
    .analyticsSection{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .analyticsImg{
        width: 60% ;
    }
}

@media (max-width :480px) {
    
}