.navbarContainer {
    width: 100vw;
    box-shadow: 0 -10px 20px white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #030014;
    z-index: 99;
}
.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 25px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid ; */
    position: relative;

}

.logo {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.navlinks ul {
    font-size: 20px;
    display: flex;
    list-style: none;
    gap: 72px;
}

.hamburger {
    display: none;
    cursor: pointer;
    z-index: 99;
}
.bar,
.cross {
    position: absolute;
    right: 10px;
    top: 25px;
    /* background-color: antiquewhite; */
    transition: all 0.4s ease-in-out;
}
.cross {
    opacity: 0;
} 
/* Responsive css */
@media (max-width : 1200px) {
    .navbar {
        max-width: 1024px;
    }
}
@media (max-width : 1024px) {
    .navbar {
        max-width: 768px;
    }
}
@media (max-width : 768px) {
    .navbar {
        max-width: 100vw;
    }
    .navbar .navlinks {
        position: absolute;
        background-color: #030014;
        top: 0;
        /* left:0px; */
        right: -250px;
        z-index: 50;
        padding: 100px 75px;
        height: 100vh;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        box-shadow: 15px 1px 20px white;

    }
    .navlinks ul {
        flex-direction: column;
        gap: 40px;
        align-items: start;

    }
    .navlinks.active {
        /* background-color: #030014; */
        /* transform: translateX(0); */
        right: 0;
        opacity: 1;
    }
    .bar.active{
        opacity: 0;
    }
    .cross.active{
        opacity: 1;
    }
    .hamburger {
        display: inline-block;
    }

}
@media (max-width : 480px) {}
@media (max-width : 360px) {}
