:root {
    --border: linear-gradient(135deg , #7171DB, #7FCCCD);
}

.footer {
    width: 100vw;
    border-bottom: 10px solid transparent;
    border-image: var(--border) 1;
    margin-top: 125px;
    box-shadow: 0 10px 20px white;
    padding: 40px auto;
    background-color: #030014;
    

}

.footerContainer {
    max-width: 1200px;
    margin: auto;
    padding: 40px 16px;

}
.footerAbove {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footerLogo {
    font-size: 22px;
    font-weight: 800;
}

.footerContact h6,
.footerMarket h6,
.footerNav h6,
.footerNews h6 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 500;
}

.footerContact ul,
.footerMarket ul,
.footerNav ul {
    list-style: none;
    font-size: 16px;
    font-weight: 200;
}

.footerContact ul li,
.footerMarket ul li,
.footerNav ul li {
    margin-bottom: 10px;
}
.footerNewsMail {
    position: relative;
    display: inline-block;
    /* background-color: #7FCCCD; */
}

.footerNewsMail input {
    border: none;
    background-color: #1A1441;
    font-size: 20px;
    padding: 8px 25px;
    border-radius: 50px;
}
.footerNewsMail button {
    text-transform: uppercase;
    font-size: 20px;
    padding: 8px 25px;
    /* width: 255px; */
    /* height: 85px; */
    cursor: pointer;
    border-radius: 60px;
    /* margin-right: 15px; */
    background-color: #8F8FDB;
    color: whitesmoke;
    border: 1px solid #8F8FDB;
    position: absolute;
    right: 0;
    transition: 0.2s ease-in;

}
.footerNewsMail button:hover {
    background-color: #8f8fdb42;

}

.footerBelow {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.designCredits span a,
.developedCredits span a {
    color: #8F8FDB;
    text-decoration: none;
}
.designCredits span a:hover,
.developedCredits span a:hover {
    color: #7FCCCD;
}


/*Responsive css */

@media (max-width:1200px) {
    .footerContainer{
        max-width: 1024px;
    }
}
@media (max-width:1024px) {
    .footerContainer{
        max-width: 768px;
    }
    .footerAbove{
        gap: 40px;
    }
}
@media (max-width:768px) {
    .footerContainer{
        max-width: 90vw;
    }
}
@media (max-width:480px) {
    .footerContainer{
        max-width: 1024px;
    }
    .footerAbove{
        gap: 40px;
        flex-direction: column;
    }
    .footerNewsMail input{
        font-size: 16px;
        padding: 12px;
    }
    .footerNewsMail button{
        font-size: 16px;
        padding: 12px;
    }
}